<h1> Welcome Customers </h1>

<% content_for(:htmltitle,"Customer login")%>
<br>
<%= form_for @cust,url: csignin_path  do |f| %>
<% if flash[:alert]%>
<div class="alert alert-danger "><%= flash[:alert] %></div>
<% end%>
	<div class="form-group ">	
		<div class="col-xs-1">
			<%= f.label :email %>
		</div>
		<div class="col-xs-2">
			<%= f.text_field :email ,class:"form-control "%>
		</div>
	</div>
	<br/>
	<br/>
	<div class="form-group">
		<div class="col-xs-1">
		<%= f.label :password %>
			</div>
		<div class="col-xs-2">
			<%= f.text_field :password ,class:"form-control mb-3"%></td>
		</div>
	</div>
	<br/><br/>
	<div class="col-xs-1">
		<%= f.submit 'login' ,class: "btn btn-primary "%>    
	</div>
	<%= link_to 'cancel',root_path ,class: "btn btn-primary"%>
<%end%>
<br/>
<p class="h4">New User .........
<%= link_to 'Customer Signup',new_cust_path ,class: "btn btn-primary"%>
</p>
